body
{
    background-color: Gray;
    font-size: 11px;
    font-family: Tahoma;
}
#header
{
    background: url(images/head.png) repeat-x;
    height: 60px;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: left;
    color: White;
}
#site-logo
{
    position: absolute;
    margin-left: 130px;
    background: url(images/logo-eplearn.png) no-repeat;
    width: 111px;
    height: 57px;
    
}
#global-search
{
    position: absolute;
    margin-left: 840px;
    top: 25px;
    height: 20px;
    width: 143px;

}
.input_text
{
    background: url(images/Global_Search.png) no-repeat;
    padding-left: 15px;
    padding-top: 10px;
    height: 35px;   
    border-left: none medium;
    border-bottom: none medium;
    border-right: none medium;
    border-top: none medium;
}
input .input_text 
{
    width: 50px;
}
#avatar-face
{
    position: absolute;
    margin-left: 990px;
    top:32px;
    background: url(images/avatar.png) no-repeat;
    height: 24px;
    width: 21px;
}
/*===StyleMenu===*/
#main-menu
{
    margin-right: 167px;
    font-family: Tahoma;
    font-size: 12px;
    margin-top: -34px;
    float: right;
}
.linkmenu
{
    background-image: url(images/menu-bg.png);
    width: 80px;
    height: 32px;
    margin-right: -1px;
    float: left;
    font-weight: bold;
}
.linkmenu .menu
{
    margin-top: 10px;
    text-align: center;
}
.linkmenu a
{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.linkmenu a:visited
{
    text-decoration: none;
    color: #fff;
}
.linkmenu:hover
{
    background-image: url(images/menu-bg-over.png);
    width: 80px;
    height: 32px;
    float: left;
    text-decoration: none;
}
/*===Sub-Menu===*/

#sub-menu
{
    width: 1000px;
    margin: 0 auto;
}
#sub-menu-container
{
    height: 18px;
    text-align: right;
    background: url(images/green.png);
}
#style-sub-menu
{
    margin-right: 150px;
}
/*===Content===*/
#content-container
{
    background-color: #fff;
    font-size: 12px;
    font-family: Tahoma;
    overflow:auto;
}
#main-style
{
    padding-left: 20px;
    margin-top: 5px;
}
    
/* FRAMES
----------------------------------------------------------*/
#main-top, #main-top span
{
    background: url(images/contentup.png) no-repeat;
}
#main-content
{
    background: url(images/contentdown.png) repeat-y;
}

/*===Footer===*/
#footer-bar
{
    background: url(images/edgeline.png);
    height: 19px;
    bottom: 0px;
    width: 100%;
}
.start-menu
{
    float: left;
    height: 21px;
    width: 64px;
}
.news-marquee
{
    float: right;
    background: url(images/newsbotton.png) no-repeat;  
    height: 19px;
    bottom: 0px;
    width: 64px;
}
.news-marquee:hover
{
    background: url(images/newsboard.png) no-repeat;
    height: 19px;
    width: 815px;
    bottom: 0px;
}
/*=======Fieldset======*/
#el02 { /* Text and background colour, blue on light gray */
    background-color:#504B4B
}
#el03 { /* Text and background colour, blue on light gray */
    color:#00f;
    background-color:#fff
}
#el07 {font-family:"Courier New",Courier} /* Different font */


