
.icon_image_sml {
	height:22px;
	width:64px;
	display:block;
}

#climber {
	width:40px;
	border-right:1px solid #777;
	height:28px;
	position:absolute;
	left:0px;
	top:10px;
}
#climber .icon_image_sml {
	background: url("/Content/images/epstart.png") no-repeat;
	float:left;
}

#climber label {
	width:20px;
	display:block;
	float:left;
	font-size:10pt;
	margin-left:5px;
	margin-top:4px;
}